---

import Header from '../../components/Header.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';


---

<BaseLayout title="Contacto" description="Esta é a páxina de contacto">
    <Header></Header>
    <h1>Contacto</h1>
</BaseLayout>