---
const { title } = Astro.props;
const { description } = Astro.props;
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <meta name="description" content={description} />
	</head>
	<body>
		<slot/>
	</body>
</html>

<script>

</script>

<style is:global>
	
	* {
	  margin: 0;
	  padding: 0;
	  outline: 0;
	  box-sizing: border-box;
	}


	@font-face {
		font-family: PlusJakarta Sans;
		src: url(../styles/fonts/PlusJakartaSans-VariableFont_wght.ttf);
	}

	:root{
		--font-primary:  PlusJakarta Sans;
		--color-background: #000;
		--color-primary: #fff;
		--font-base-size: 14px;
	}

	body {
	 background: var(--color-background);
	 color: var(--color-primary);
	 -webkit-font-smoothing: antialiased;
	}
	
	body, input, button {
	 font-size: var(--font-base-size);
	 font-family: var(--font-primary);
	}
	
	button {
	 cursor: pointer;
	}


</style>