* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: Katibeh-Regular;
    src: url(./fonts/Katibeh-Regular.ttf);
}

:root{
    --color-primario:#805012;
    --color-secundario:white;
    --color-terciario:#f59b1a;
    --color-pildora:#f59a1a7a;
    --fuente-principal: Katibeh-Regular;
    --fuente-secundaria:'Times New Roman';
}

body {
  background-color: #805012;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f59b1a' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M29 58.58l7.38-7.39A30.95 30.95 0 0 1 29 37.84a30.95 30.95 0 0 1-7.38 13.36l7.37 7.38zm1.4 1.41l.01.01h-2.84l-7.37-7.38A30.95 30.95 0 0 1 6.84 60H0v-1.02a28.9 28.9 0 0 0 18.79-7.78L0 32.41v-4.84L18.78 8.79A28.9 28.9 0 0 0 0 1.02V0h6.84a30.95 30.95 0 0 1 13.35 7.38L27.57 0h2.84l7.39 7.38A30.95 30.95 0 0 1 51.16 0H60v27.58-.01V60h-8.84a30.95 30.95 0 0 1-13.37-7.4L30.4 60zM29 1.41l-7.4 7.38A30.95 30.95 0 0 1 29 22.16 30.95 30.95 0 0 1 36.38 8.8L29 1.4zM58 1A28.9 28.9 0 0 0 39.2 8.8L58 27.58V1.02zm-20.2 9.2A28.9 28.9 0 0 0 30.02 29h26.56L37.8 10.21zM30.02 31a28.9 28.9 0 0 0 7.77 18.79l18.79-18.79H30.02zm9.18 20.2A28.9 28.9 0 0 0 58 59V32.4L39.2 51.19zm-19-1.4a28.9 28.9 0 0 0 7.78-18.8H1.41l18.8 18.8zm7.78-20.8A28.9 28.9 0 0 0 20.2 10.2L1.41 29h26.57z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: var(--color-primario);
}

body,
input,
button {
  font-size: 14px;
  font-family: var(--fuente-principal);
}

button {
  cursor: pointer;
}

/* Estilos da tarxeta */


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 250px;
    height: 400px;
    border-radius: 40px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.502);
}

.card__img{
   width: 80%;
}

.card__detalle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.card__h1{
    font-family: var(--fuente-principal);
    font-size: 2rem;
}

.card__p{
    font-family: var(--fuente-secundaria);
    font-size: .8rem;
}

.card__a{
    width: 100%;
    text-align: center;
    background-color: var(--color-terciario);
    border-radius: 20px;
    text-decoration: none;
    color: var(--color-secundario);
    font-size: 1.2rem;
    height: 40px;
    padding: 12px 0px;
    margin-top: 10px;
    box-shadow: 2px 2px 5px #00000080;
    border: 2px solid transparent;
    transition: all 1s ease;
}

.card__a:hover{
    background-color: var(--color-secundario);
    color: var(--color-primario);
    border: 2px solid var(--color-primario);
}

/* Tarxeta detrás */


.card__detras{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card__h2{
    font-family: var(--fuente-principal);
    font-size: 1.3rem;
    text-transform: uppercase;
}

.card__div--info{
    background-color: var(--color-pildora);
    width: 100%;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__p--info{
    font-family: var(--fuente-principal);
    color: var(--color-primario);
    font-size: 1.1rem;
    padding-top: 10px;
}

.card__p--datos{
    font-family: var(--fuente-principal);
    color: var(--color-primario);
    font-size: 1.3rem;
    padding-bottom: 0px;
}
